<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <i class="fas fa-wine-glass"></i>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Links -->
    <%= link_to "Add Smoothie", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Smoothies", cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <!-- <div class="dropdown">
        <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Create New Smoothie") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "L") %>
            <% end %>
          </li>
        </ul>
      </div> -->
    </div>
    <div>
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 btn-navbar navbar-wagon-link" type="submit">Search</button>
      </form>
    </div>
  </div>



  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <%= link_to "Add Smoothie", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link" %>
          <%= link_to "Smoothies", cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </ul>
    </div>
  </div>
</div>
